PORT=3010
DBHOST=127.0.0.1
DBNAME=whatscrm
DBUSER=root
DBPASS=
DBPORT=3306

# JWT Key
JWTKEY=NCRUp5hKovUAcZd9OwIw0BCKmjZj9JxpNCRUp5hKovUAcZd9OwIw0BCKmjZj9JxpNCRUp5hKovUAcZd9OwIw0BCKmjZj9Jxp
FRONTENDURI=http://localhost:3010
BACKURI=http://localhost:3010
STRIPE_LANG=en
NODE_ENV=logs